@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.headerBlock {
  background-color: $textColor;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  @include flex(row, flex-end, center, nowrap);
  opacity: 0.8;
}