@import '../../Common/styles/sass/variables';
@import '../../Common/styles/sass/mixins';

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 250px;
  background-color: $bgColor1;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px 0 rgba(10, 115, 121, 0.14); /* Параметры тени */
  padding: 10px;
  margin: 15px;

  .skillTitle {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: $textColor1;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .icon {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
    color: $textColor;
  }
}