@import 'src/Common/styles/sass/variables';

.viewButton {
  padding: 15px 20px;
  background-color: $textColor;
  color: $bgColor1;
  cursor: pointer;
  align-items: center;
  border: 0;
  text-decoration: none;
  &:hover {
    color: $textColor;
    background-color: $bgColor1;
    transition: background-color 0.55s;
  }
}

.sendMessageButton {

}